h1{
	background-color:#FFE681;
}

h2{
	background-color:#9fccba;
}
h1:hover{
	opacity:0.5;
}
h2:hover{
	opacity:0.5;
}

body{
	background-color:#ffffff
}

head{
	background-color:#FFC78E
}
button:active {
	background: red;
}
button{
	background: white;
}